<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.mes.mapper.MesProjectMapper">
    
    <resultMap type="MesProject" id="MesProjectResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="leader"    column="leader"    />
        <result property="startDate"    column="start_date"    />
        <result property="endDate"    column="end_date"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectMesProjectVo">
        select id, name, leader, start_date, end_date, description, status from mes_project
    </sql>

    <select id="selectMesProjectList" parameterType="MesProject" resultMap="MesProjectResult">
        <include refid="selectMesProjectVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="params.beginStartDate != null and params.beginStartDate != '' and params.endStartDate != null and params.endStartDate != ''"> and start_date between #{params.beginStartDate} and #{params.endStartDate}</if>
            <if test="params.beginEndDate != null and params.beginEndDate != '' and params.endEndDate != null and params.endEndDate != ''"> and end_date between #{params.beginEndDate} and #{params.endEndDate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectMesProjectById" parameterType="Long" resultMap="MesProjectResult">
        <include refid="selectMesProjectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMesProject" parameterType="MesProject" useGeneratedKeys="true" keyProperty="id">
        insert into mes_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="leader != null and leader != ''">leader,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="leader != null and leader != ''">#{leader},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateMesProject" parameterType="MesProject">
        update mes_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="leader != null and leader != ''">leader = #{leader},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMesProjectById" parameterType="Long">
        delete from mes_project where id = #{id}
    </delete>

    <delete id="deleteMesProjectByIds" parameterType="String">
        delete from mes_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>