<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.bid.mapper.BidPolicylawFilesMapper">
    
    <resultMap type="BidPolicylawFiles" id="BidPolicylawFilesResult">
        <result property="id"    column="id"    />
        <result property="policyId"    column="policy_id"    />
        <result property="fileName"    column="file_name"    />
        <result property="filePath"    column="file_path"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBidPolicylawFilesVo">
        select id, policy_id, file_name, file_path, create_by, create_time, update_by, update_time, remark from bid_policylaw_files
    </sql>

    <select id="selectBidPolicylawFilesList" parameterType="BidPolicylawFiles" resultMap="BidPolicylawFilesResult">
        <include refid="selectBidPolicylawFilesVo"/>
        <where>  
            <if test="policyId != null "> and policy_id = #{policyId}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
        </where>
    </select>
    
    <select id="selectBidPolicylawFilesById" parameterType="Long" resultMap="BidPolicylawFilesResult">
        <include refid="selectBidPolicylawFilesVo"/>
        where id = #{id}
    </select>
    <select id="selectBidPolicylawFilesByPId" parameterType="Long" resultMap="BidPolicylawFilesResult">
        <include refid="selectBidPolicylawFilesVo"/>
        where policy_id = #{id}
    </select>
    <insert id="insertBidPolicylawFiles" parameterType="BidPolicylawFiles">
        insert into bid_policylaw_files
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="policyId != null">policy_id,</if>
            <if test="fileName != null">file_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="policyId != null">#{policyId},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBidPolicylawFiles" parameterType="BidPolicylawFiles">
        update bid_policylaw_files
        <trim prefix="SET" suffixOverrides=",">
            <if test="policyId != null">policy_id = #{policyId},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBidPolicylawFilesById" parameterType="Long">
        delete from bid_policylaw_files where id = #{id}
    </delete>

    <delete id="deleteBidPolicylawFilesByPId" parameterType="Long">
        delete from bid_policylaw_files where policy_id = #{id}
    </delete>

    <delete id="deleteBidPolicylawFilesByIds" parameterType="String">
        delete from bid_policylaw_files where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>