<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.footprint.mapper.CfConfigNeutralMapper">
    
    <resultMap type="CfConfigNeutral" id="CfConfigNeutralResult">
        <result property="id"    column="id"    />
        <result property="coalCo2"    column="coal_co2"    />
        <result property="electricCo2"    column="electric_co2"    />
        <result property="waterCo2"    column="water_co2"    />
        <result property="oilCoal"    column="oil_coal"    />
        <result property="co2Ratio"    column="co2_ratio"    />
    </resultMap>

    <sql id="selectCfConfigNeutralVo">
        select id, coal_co2, electric_co2, water_co2, oil_coal, co2_ratio from cf_config_neutral
    </sql>

    <select id="selectCfConfigNeutralList" parameterType="CfConfigNeutral" resultMap="CfConfigNeutralResult">
        <include refid="selectCfConfigNeutralVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectCfConfigNeutralById" parameterType="Long" resultMap="CfConfigNeutralResult">
        <include refid="selectCfConfigNeutralVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCfConfigNeutral" parameterType="CfConfigNeutral">
        insert into cf_config_neutral
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="coalCo2 != null">coal_co2,</if>
            <if test="electricCo2 != null">electric_co2,</if>
            <if test="waterCo2 != null">water_co2,</if>
            <if test="oilCoal != null">oil_coal,</if>
            <if test="co2Ratio != null">co2_ratio,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="coalCo2 != null">#{coalCo2},</if>
            <if test="electricCo2 != null">#{electricCo2},</if>
            <if test="waterCo2 != null">#{waterCo2},</if>
            <if test="oilCoal != null">#{oilCoal},</if>
            <if test="co2Ratio != null">#{co2Ratio},</if>
         </trim>
    </insert>

    <update id="updateCfConfigNeutral" parameterType="CfConfigNeutral">
        update cf_config_neutral
        <trim prefix="SET" suffixOverrides=",">
            <if test="coalCo2 != null">coal_co2 = #{coalCo2},</if>
            <if test="electricCo2 != null">electric_co2 = #{electricCo2},</if>
            <if test="waterCo2 != null">water_co2 = #{waterCo2},</if>
            <if test="oilCoal != null">oil_coal = #{oilCoal},</if>
            <if test="co2Ratio != null">co2_ratio = #{co2Ratio},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCfConfigNeutralById" parameterType="Long">
        delete from cf_config_neutral where id = #{id}
    </delete>

    <delete id="deleteCfConfigNeutralByIds" parameterType="String">
        delete from cf_config_neutral where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>