<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.smty.mapper.CmtLikeLogMapper">
    
    <resultMap type="CmtLikeLog" id="CmtLikeLogResult">
        <result property="id"    column="id"    />
        <result property="bizId"    column="biz_id"    />
        <result property="bizType"    column="biz_type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectCmtLikeLogVo">
        select id, biz_id, biz_type, create_by, create_time from cmt_like_log
    </sql>

    <select id="selectCmtLikeLogList" parameterType="CmtLikeLog" resultMap="CmtLikeLogResult">
        <include refid="selectCmtLikeLogVo"/>
        <where>  
            <if test="bizId != null "> and biz_id = #{bizId}</if>
            <if test="bizType != null  and bizType != ''"> and biz_type = #{bizType}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
        </where>
    </select>
    
    <select id="selectCmtLikeLogById" parameterType="Long" resultMap="CmtLikeLogResult">
        <include refid="selectCmtLikeLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmtLikeLog" parameterType="CmtLikeLog" useGeneratedKeys="true" keyProperty="id">
        insert into cmt_like_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bizId != null">biz_id,</if>
            <if test="bizType != null">biz_type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bizId != null">#{bizId},</if>
            <if test="bizType != null">#{bizType},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateCmtLikeLog" parameterType="CmtLikeLog">
        update cmt_like_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="bizId != null">biz_id = #{bizId},</if>
            <if test="bizType != null">biz_type = #{bizType},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmtLikeLogById" parameterType="Long">
        delete from cmt_like_log where id = #{id}
    </delete>

    <delete id="deleteCmtLikeLogByIds" parameterType="String">
        delete from cmt_like_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>