<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.carbon.footprint.mapper.CfElectricCheckpointMapper">
    
    <resultMap type="CfElectricCheckpoint" id="CfElectricCheckpointResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="address"    column="address"    />
        <result property="rtPower"    column="rt_power"    />
        <result property="rtVoltage"    column="rt_voltage"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectCfElectricCheckpointVo">
        select id, name, address, rt_power, rt_voltage, status, remark, create_by, create_time from cf_electric_checkpoint
    </sql>

    <select id="selectCfElectricCheckpointList" parameterType="CfElectricCheckpoint" resultMap="CfElectricCheckpointResult">
        <include refid="selectCfElectricCheckpointVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where>
    </select>
    
    <select id="selectCfElectricCheckpointById" parameterType="Long" resultMap="CfElectricCheckpointResult">
        <include refid="selectCfElectricCheckpointVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCfElectricCheckpoint" parameterType="CfElectricCheckpoint">
        insert into cf_electric_checkpoint
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="rtPower != null">rt_power,</if>
            <if test="rtVoltage != null">rt_voltage,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="rtPower != null">#{rtPower},</if>
            <if test="rtVoltage != null">#{rtVoltage},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateCfElectricCheckpoint" parameterType="CfElectricCheckpoint">
        update cf_electric_checkpoint
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="rtPower != null">rt_power = #{rtPower},</if>
            <if test="rtVoltage != null">rt_voltage = #{rtVoltage},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCfElectricCheckpointById" parameterType="Long">
        delete from cf_electric_checkpoint where id = #{id}
    </delete>

    <delete id="deleteCfElectricCheckpointByIds" parameterType="String">
        delete from cf_electric_checkpoint where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>