<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neu.smty.mapper.ComAreaMapper">
    
    <resultMap type="ComArea" id="ComAreaResult">
        <result property="id"    column="id"    />
        <result property="provinceName"    column="province_name"    />
        <result property="cityName"    column="city_name"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectComAreaVo">
        select id, province_name, city_name, name from com_area
    </sql>

    <select id="selectComAreaList" parameterType="ComArea" resultMap="ComAreaResult">
        <include refid="selectComAreaVo"/>
        <where>  
            <if test="provinceName != null  and provinceName != ''"> and province_name = #{provinceName}</if>
            <if test="cityName != null  and cityName != ''"> and city_name = #{cityName}</if>
            <if test="name != null  and name != ''"> and name = #{name}</if>
        </where>
    </select>
    
    <select id="selectComAreaById" parameterType="Long" resultMap="ComAreaResult">
        <include refid="selectComAreaVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertComArea" parameterType="ComArea" useGeneratedKeys="true" keyProperty="id">
        insert into com_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="provinceName != null and provinceName != ''">province_name,</if>
            <if test="cityName != null and cityName != ''">city_name,</if>
            <if test="name != null and name != ''">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="provinceName != null and provinceName != ''">#{provinceName},</if>
            <if test="cityName != null and cityName != ''">#{cityName},</if>
            <if test="name != null and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateComArea" parameterType="ComArea">
        update com_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="provinceName != null and provinceName != ''">province_name = #{provinceName},</if>
            <if test="cityName != null and cityName != ''">city_name = #{cityName},</if>
            <if test="name != null and name != ''">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteComAreaById" parameterType="Long">
        delete from com_area where id = #{id}
    </delete>

    <delete id="deleteComAreaByIds" parameterType="String">
        delete from com_area where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>